body {
	background-color: #FFFFFF!important;
}

#home {
    text-rendering: optimizeLegibility;
    font-family: "Montserrat";
}

#header {
    margin-bottom: 10px;
    height: 100px;
//  border-style: solid;
//  border-color: red;
}

#headerleft {
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Montserrat";
    color: #13171a;
    float: left;
}

#hl-name {
    font-weight: 700;
}

#hl-tagline {
    margin-top: -10px;
}

#headerright {
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}

#headerright a:link { color:  #13171a; text-decoration: none;}
#headerright a:visited { color: #13171a; text-decoration: none;}
#headerright a:hover { color: #13171a; text-decoration: none;}
#headerright a:active { color: #13171a; text-decoration: none;}

@media only screen and (max-width: 550px) {
	#headerright {
		display: none;
	}
}

#homebody { 
	height: 700px;
}

#hb-left {
 float: left;
}

#hb-center {
 margin: auto; 
}

#hb-right {
 float: right; 
}

#homefooter {
        background-color: #13171a;
	float: bottom;
	height: 200px;
	color: white;
	border-style: solid;
	border-color: #13171a;
}

#hf-head { 
	//border-style: solid;
	//border-color: red;
	margin-top: 20px;
	height: 70px;
	margin-left: 15px;
}

#hf-links { 
	margin-left: 15px;
}
